.header-container {
  /* background-color: #131921; */
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2000;
  gap: 1rem;
  padding: 0 1.9rem;
  border-bottom: 1px solid rgb(215, 211, 211);
  background-color: #ffffff;
  height: 3rem;
}
.header-content-1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 4rem;
  width: 7.2rem;
  object-fit: contain;
  margin-right: 8rem;
}
.singleRedditLogo {
  display: none;
  height: 2rem;
  width: 5rem;
  object-fit: contain;
  margin-right: 8rem;
}
.search-container {
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  gap: 0.2rem;
  background-color: rgb(231, 238, 238);
  border-radius: 1.8rem;
  margin-right: 4rem;
}
.input-search {
  /* width: 30rem; */
  /* flex: 1; */
  width: 100%;
  border-radius: 0 1.8rem 1.8rem 0;
  height: 2.5rem;
  border: none;
  padding: 0 1rem;
  background-color: rgb(231, 238, 238);
  font-size: 0.95rem;
  font-weight: 500;
  color: #0f1a1c;
  &:focus {
    outline: none;
    color: red;
    font-weight: 600;
  }
}
.img-banana {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  height: fit-content;
  height: 2rem;
  width: 2rem;
  cursor: pointer;
  &:hover {
    background-color: rgb(231, 238, 238);
    border-radius: 50%;
  }
  /* width: 1rem; */
  > img {
    height: 1.5rem;
    width: 1.2rem;
  }
}
.content-2-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 16rem;
}
.get-app-header {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background-color: rgb(231, 238, 238);
  padding: 0.6rem 1rem;
  color: rgb(98, 96, 96);
  border-radius: 5rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.lskhnkc {
  color: #e5e9e9;
  font-size: 1.5rem;
}
.login {
  background-color: rgb(231, 45, 45);
  padding: 0.5rem 1rem;
  border-radius: 5rem;
  color: #ffffff;
  cursor: pointer;
  > h4 {
    font-weight: 400;
  }
}
.bar-icon {
  font-size: 1.2rem;
}
.dot-icon {
  font-size: 1.5rem;
  cursor: pointer;
  color: rgb(135, 139, 139);
}
.arrow-icon {
  transform: rotate(45deg);
}
.plus-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  color: #6d6f71;
  cursor: pointer;
  padding: 0.4rem;
  &:hover {
    background-color: rgb(245, 241, 241);
    border-radius: 50%;
  }
}
.icons-header {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
  &:hover {
    background-color: rgb(245, 241, 241);
    border-radius: 50%;
  }
}
.advertise-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  background-color: #e0e1e2;
  padding: 0.5rem;
  border-radius: 3rem;
  cursor: pointer;
}
.home-content-after-login {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8rem;
  margin-left: -6rem;
  padding: 0.2rem;
  border: 1px solid rgb(255, 255, 255);
  &:hover {
    border: 1px solid rgb(244, 240, 240);
  }
  > h3 {
    display: inherit;
    gap: 0.5rem;
    align-items: center;
    color: rgb(80, 79, 79);
    > span {
      color: rgb(146, 140, 140);
      font-size: 1rem;
    }
  }
}
.home-toggle-data-after-login {
  height: fit-content;
  width: 17vw;
  position: absolute;
  background-color: rgb(255, 255, 255);
  margin: 1rem -6rem;
  border: 0.1rem solid rgb(191, 185, 185);
  border-radius: 0 0 0.5rem 0.5rem;
}
.homw-all-content {
  list-style: none;
  padding: 1rem;
  > li {
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.3rem;
    border-radius: 0.2rem;
    &:hover {
      background-color: #e0e1e2;
      cursor: pointer;
    }
  }
}
.head-home-lkjkhdk {
  font-size: 0.8rem;
  padding: 0.2rem;
}
.home-input-after-login {
  width: 70%;
  margin: 1rem 1.5rem 0 1.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  background-color: #dcdee0;
}
.dwopdown-container {
  display: flex;
  gap: 1rem;
}
.dropdownContainer-profile {
  position: absolute;
  margin: 2rem 2rem 2rem 2rem;
}
.hemb-icon {
  margin-right: 1rem;
  display: none;
}
/* Tablate */
@media only screen and (max-width: 768px) {
  .header-container {
    width: 101% !important;
  }
  .logo {
    display: none;
  }
  .singleRedditLogo {
    display: inline;
    height: 2.3rem;
    width: 5rem;
    object-fit: contain;
    margin-right: 1rem;
  }
  .hemb-icon {
    margin-right: 0;
    display: inline;
    &:hover {
      cursor: pointer;
    }
    .login {
      width: 3rem;
    }
  }
  .input-search {
    width: 100%;
  }
  .search-container {
    width: 70%;
  }
  .img-banana {
    display: none;
  }
  .get-app-header,
  .lskhnkc {
    display: none;
  }
  .hemb-icon {
    font-size: 1.5rem;
  }
}
/* Phone */
@media only screen and (max-width: 480px) {
  .header-container {
    position: sticky;
    top: 2;
  }
  .search-container {
    margin-left: -2rem;
    margin-right: 0;
    /* background-color: #000000; */
  }
  .header-container {
    background-color: #000;
    color: #fff;
    height: 4rem;
    /* width: 102% !important; */
  }
  .hemb-icon {
    color: #fff;
  }
  .login {
    > h4 {
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}
@media only screen and (max-width: 375px) {
  .search-container {
    margin-left: -2rem;
    margin-right: 0;
    /* background-color: #000000; */
  }
  .header-container {
    background-color: #000;
    color: #fff;
    height: 4rem;
    width: 115% !important;
  }
  .hemb-icon {
    color: #fff;
  }
}
@media only screen and (max-width: 320px) {
  .input-search {
    display: none;
  }
  .search-container {
    background-color: black;
  }
  .search-icon {
    color: white !important;
    font-size: 1.5rem !important;
  }
}
