.right-side-bar {
  margin: 1.5rem 1.8rem;
  /* background-color: blue; */
  /* height: 200vh; */
  position: static;
}

.right_Side-crousal {
  height: 40vh;
  background: rgb(255, 255, 255);
  width: 62rem;
}
.right_side_content {
  display: grid;
  grid-template-columns: 5fr 2.2fr;
  grid-gap: 1.5rem;
}
.right_right_all_content {
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  /* padding: 1rem; */
}
#popular-com-fix::-webkit-scrollbar {
  width: 0.5rem;
}
.right_side_popular_community {
  position: sticky;
  top: 5rem;
  height: 85vh;
  background-color: rgb(245, 249, 252);
  margin: 1rem 0;
  border-radius: 1rem;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  &:hover {
    --thumbBG: #bcc0c3;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
  }
}
.right_side_popular_community::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.right_side_popular_community::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
.right-sird-content-fixed {
  padding: 1rem;
  > p {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(133, 136, 136);
  }
}
.fixed-right-content-text-container {
  margin: 1rem;
}
.fixed-right-content-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
}
.single-user-content {
  > div {
    font-weight: 600;
  }
  > p {
    font-size: 0.8rem;
  }
}
.fetched-data-main-containt-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fetched-main-contiant {
  border-radius: 1rem;
  padding: 1rem;
  &:hover {
    background-color: rgb(237, 240, 242);
    cursor: pointer;
  }
}
.userName-image-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  > h5 {
    color: rgb(164, 162, 161);
  }
}
.main-containt {
  color: rgb(108, 108, 108);
  margin: 0.5rem;
}
.right-content-comntes {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.like-post {
  padding: 0.4rem;
  border-radius: 50%;
  &:hover {
    color: rgb(255, 2, 2);
    background-color: rgb(202, 209, 209);
  }
}
.disLike {
  padding: 0.4rem;
  border-radius: 50%;
  &:hover {
    color: rgb(158, 2, 255);
    background-color: rgb(202, 209, 209);
  }
}
.right-content-comntes-likes {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(233, 230, 230);
  padding: 0.1rem;
  border-radius: 3rem;
  > p {
    margin-bottom: 0.3rem;
  }
  &:hover {
    background-color: rgb(222, 221, 221);
  }
}
.comments {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(233, 230, 230);
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  &:hover {
    background-color: rgb(222, 221, 221);
  }
}
.comments-icon {
  font-size: 5rem;
}
.share-btn {
  margin-top: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: rgb(233, 230, 230);
  padding: 0.4rem 0.8rem;
  border-radius: 1rem;
  &:hover {
    background-color: rgb(222, 221, 221);
  }
}
