.right-side-bar {
  margin: 1.5rem 1.8rem;
  /* background-color: blue; */
  /* height: 200vh; */
  position: static;
}

.right_Side-crousal {
  height: 33vh;
  background: red;
}
.right_side_content {
  display: grid;
  grid-template-columns: 5fr 2.2fr;
  grid-gap: 1.5rem;
}
.right_right_all_content {
  margin-top: 1rem;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  height: fit-content;
  /* padding: 1rem; */
}
.right_side_popular_community {
  position: sticky;
  top: 5rem;
  height: fit-content;
  background-color: rgb(245, 249, 252);
  margin: 1rem 0;
  border-radius: 1rem;
}
.right-sird-content-fixed {
  padding: 1rem;
  > p {
    font-size: 0.9rem;
    font-weight: 600;
    color: rgb(133, 136, 136);
  }
}
.fixed-right-content-text-container {
  margin: 1rem;
}
.fixed-right-content-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
  font-size: 1rem;
}
.single-user-content {
  > div {
    font-weight: 600;
  }
  > p {
    font-size: 0.8rem;
  }
}
.fetched-data-main-containt-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.fetched-main-contiant {
  border-radius: 1rem;
  padding: 1rem;
  &:hover {
    background-color: rgb(237, 240, 242);
    cursor: pointer;
  }
}
.userName-image-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
  > h5 {
    color: rgb(164, 162, 161);
  }
}
.main-containt {
  color: rgb(108, 108, 108);
  margin: 0.5rem;
}
