.main-container {
  /* margin-top: 1rem; */
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-column-gap: 1rem;
  /* height: 100vh; */
}
#leftSideBar_id::-webkit-scrollbar {
  width: 0.4rem;
}
.leftSide_bar {
  position: sticky;
  border: 0.015rem solid rgb(212, 207, 207);
  top: 3.08rem;
  /* background-color: aqua; */
  /* --scrollbarBG: #cfd8dc; */
  --thumbBG: #bcc0c3;
  width: 78%;
  height: 78vh;
  /* height: fit-content; */

  padding: 2rem 1.5rem 2rem 3rem;
  /* scrollbar-width: thin; */

  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
.leftSide_bar::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
.leftSide_bar::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG);
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
#left-home-com {
  cursor: pointer;
}
.left-name-icons {
  display: flex;
  gap: 1rem;
  align-items: center;
  color: rgb(102, 97, 97);
  font-size: 1.1rem;
  cursor: not-allowed;
  > p {
    font-size: 0.9rem;
    margin: 0.5rem 0.5rem;
    text-align: start;
  }
}
.icons-left-side {
  font-size: 1.3rem;
}
.left-side-bar-top-content {
  padding-bottom: 0.5rem;
  border-bottom: 0.13rem solid rgb(238, 234, 234);
}
.left-topics {
  margin: 1rem 0;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: rgb(160, 154, 154);
  align-items: center;
  cursor: not-allowed;
}
.arroow-icons {
  color: rgb(160, 154, 154);
}
.topic-bottom-line {
  border-bottom: 0.13rem solid rgb(237, 231, 231);
  padding-bottom: 0.8rem;
  margin-top: 1rem;
}
.leftBar-iconsand-topics {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: not-allowed;
}
.left-side-bar {
  border-left: 0.18rem solid rgb(237, 231, 231);
  margin-left: 0.5rem;
  padding-left: 0.5rem;
}
.left-side1 {
  align-items: center;
  justify-content: center;
  > p {
    font-size: 0.9rem;
    margin: 0.8rem 0.8rem;
    color: rgb(104, 106, 107);
    cursor: not-allowed;
  }
}
.popularPosts-left-side-bar {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #666768;
  font-size: 0.95rem;
  cursor: pointer;
}

.up-tv {
  margin-left: -1rem !important;
}
.jljlljlk {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: not-allowed;
}
.popularPostsleft {
  font-size: 0.7rem !important;
  margin: 0 !important;
}
.upcoming {
  visibility: hidden;
  width: 90px;
  background-color: rgb(255, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  left: 50%;
}
.upcoming::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
#upcomming-topics {
  visibility: hidden;
  width: 50px;

  background-color: rgb(255, 0, 0);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  left: 70%;
  font-weight: 600;
  letter-spacing: 0.02rem;
  font-size: 0.6rem;
}
#upcomming-topics::after {
  content: " ";
  position: absolute;
  top: 50%;
  right: 100%; /* To the left of the tooltip */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent black transparent transparent;
}
.comm-btn #upcomming-topics::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: none;
}
.left-topics:hover .upcoming,
.leftBar-iconsand-topics:hover #upcomming-topics,
.left-name-icons:hover #upcomming-topics,
.jljlljlk:hover #upcomming-topics,
.comm-btn:hover #upcomming-topics {
  visibility: visible;
  cursor: not-allowed;
}
.left-side-after-login {
  border: none;
}
.after-login-main-container {
  background-color: #e1e8ec;
  /* width: 98vw; */
}
.darkTheme {
  background-color: #000;
  color: white;
}
@media only screen and (max-width: 768px) {
  .main-container {
    display: block;
  }
  .leftSide_bar {
    display: none;
  }
}
@media only screen and (max-width: 480px) {
  .leftSide_bar {
    display: none;
  }
}
